<div id="tm-gallery-page-pizza" class="tm-gallery-page">
    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
        @Html.Sitecore().DynamicPlaceholder("first-column")
    </article>
    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
        @Html.Sitecore().DynamicPlaceholder("second-column")
    </article>
    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
        @Html.Sitecore().DynamicPlaceholder("third-column")
    </article>
    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
        @Html.Sitecore().DynamicPlaceholder("fourth-column")
    </article>
</div>