<figure>
    @Html.Sitecore().Field(FinalTest.Templates.FoodItem.ItemFields.FoodPhoto.ToString())
    <figcaption>
        <h4 class="tm-gallery-title">@Html.Sitecore().Field(FinalTest.Templates.FoodItem.ItemFields.Title.ToString())</h4>
        <p class="tm-gallery-description">@Html.Sitecore().Field(FinalTest.Templates.FoodItem.ItemFields.Description.ToString())</p>
        <p class="tm-gallery-price">@Html.Sitecore().Field(FinalTest.Templates.FoodItem.ItemFields.Price.ToString())</p>
    </figcaption>
</figure>