<figure>
    @Html.Sitecore().Field(Final_Test.Templates.FoodItem.FoodPhoto.ToString())
    <figcaption>
        <h4 class="tm-gallery-title">@Html.Sitecore().Field(Final_Test.Templates.FoodItem.Title.ToString())</h4>
        <p class="tm-gallery-description">@Html.Sitecore().Field(Final_Test.Templates.FoodItem.Description.ToString())</p>
        <p class="tm-gallery-price">@Html.Sitecore().Field(Final_Test.Templates.FoodItem.Price.ToString())</p>
    </figcaption>
</figure>