<figure>
    @Html.Sitecore().Field("Food Photo")
    <figcaption>
        <h4 class="tm-gallery-title">@Html.Sitecore().Field("Title")</h4>
        <p class="tm-gallery-description">@Html.Sitecore().Field("Description")</p>
        <p class="tm-gallery-price">@Html.Sitecore().Field("Price")</p>
    </figcaption>
</figure>