<div class="d-flex justify-content-center">
    <header class="row tm-welcome-section">
        @Html.Sitecore().Field(FinalTest.Templates.MainBodyContent.ItemFields.Content.ToString())
    </header>
</div>